.countdown_timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1rem;
    z-index: 9;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 48px;
    background-color: transparent;
    flex-direction: row;
    color: white;
}